* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ol, ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.hero,
.footer,
.header {
  background-color: #1F2937;
}

.hero-text h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hero-text p,
.nav-links li {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 28px;
  color: #F9FAF8;
}

.action,
.action-button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
}

.action-button {
  padding: 0px 16px;
  border:2px solid white;
}

.action {
  display: flex;
  margin: 50px 100px;
  padding: 24px 0px;
  justify-content: space-evenly;
}

h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 32px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 50px 300px;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.quote-attribute {
  font-weight: 700;
  text-align: right;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  padding: 32px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}

.header {
  display: flex;
  justify-content: space-around;
  flex: 1 0 100%;
  align-items: center;
  padding: 20px;
}

.hero-text,
.hero img {
  flex: 1 1 50%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25%;
  justify-content: center;
  max-width: 175px;
  margin-bottom: 32px;
}

.card p {
  padding: 0 8px;
  text-align: center;
  margin-top: 8px;
}

.card img {
  border: 5px solid #3882F6;
  border-radius: 10px;
}

.hero-text button {
  border: none;
  padding: 4px 12px;
  margin-top: 12px;
}